<%= form_with(model: profil) do |form| %>
  <% if profil.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profil.errors.count, "error") %> prohibited this profil from being saved:</h2>

      <ul>
        <% profil.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :Name, style: "display: block" %>
    <%= form.text_field :Name %>
  </div>

  <div>
    <%= form.label :begin_at, style: "display: block" %>
    <%= form.date_field :begin_at %>
  </div>

  <div>
    <%= form.label :finish_at, style: "display: block" %>
    <%= form.date_field :finish_at %>
  </div>

  <div>
    <%= form.label :desc, style: "display: block" %>
    <%= form.text_area :desc %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
