<div id="<%= dom_id profil %>">
  <p>
    <strong>User:</strong>
    <%= profil.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= profil.Name %>
  </p>

  <p>
    <strong>Begin at:</strong>
    <%= profil.begin_at %>
  </p>

  <p>
    <strong>Finish at:</strong>
    <%= profil.finish_at %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= profil.desc %>
  </p>

</div>
